html
{
  font-size: 16px;
  width: 100%;
}
@font-face{
  font-family : paladins;
  src: url("../../fonts/paladins.ttf")
}

@font-face{
  font-family : Butterfly;
  src: url("../../fonts/Butterfly.otf")
}

@font-face{
  font-family : inked;
  src: url("../../fonts/inked_God.ttf")
}

@font-face{
  font-family : White_on_black;
  src: url("../../fonts/White_On_Black.ttf")
}

@font-face{
  font-family : Mangiola;
  src: url("../../fonts/Mangiola-Regular.ttf")
}

@font-face{
  font-family : steampips;
  src: url("../../fonts/Steampips.otf")
}

@font-face{
  font-family : Casino;
  src: url("../../fonts/GrandCasino.otf")
}

@font-face{
  font-family : psilograph;
  src: url("../../fonts/psilograph/Psilograph-SemiBold.ttf")
}

@media screen and (max-width: 1130px)
{
  html{
    font-size: 12px;
  }
  .product-scroll {
    
    width:100%;
    
    height: 50%;
  }
  .product-item img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  

  .product-item{
    display: inline-block;
    width: 100%;
  }
  .product-details
  {
    width: 100%;
    display: flex;
    text-align: center;

  }

  .footer{
    font-size: 10px;
  }
  .right-section {
    font-size: 4px;
  }
}

body {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4eb;
    color: #333;
    width: 100%;
    touch-action: manipulation;
  }
  
  header {
    background-color: #e84946;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  header img{
      height: 20%;
      height: 20%;
  }
  
  header h3 {

    background-color: transparent;
    color: black;
    font-family: White_on_black;
    font-size: 1.5em
 
  }

  .cartCount{
    font-family:Steampips; 
  }
  nav {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  nav a:hover {
    color: #e84946;
  }

  .video-section{
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
  }
  
  .submenu li {
    display: block;
  }
  
  .submenu a {
    padding: 10px;
  }
  
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  .product-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
  }
  
  .product-item {
    margin-bottom: 2%;
    display: inline-flex;
    align-items: stretch;
    margin-top: 2%;
    width:100%;
    columns: 2 50%;
  }
  
  .product-item img {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details {
    margin-top: 10px;
    text-align: right;
    flex-grow: 1;
    /* padding-left: 20px; Add padding to the left of product details */
    overflow-wrap: break-word;
    display: inline-block;
    width: 50%;
    height: auto;
  }

  .product-details h3{
    font-family: paladins;
  }

  .description
  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .price {
    color: #e84946;
  }
  
  .add-to-cart {
    background-color: #e84946;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .PictureContainer img{
    padding: 500px;
  }
  
  .filter-section {
    text-align: right; /* Right-align the filter section */
    margin-bottom: 20px; /* Add some space under the filter section */
  }
  
  select {
    padding: 5px;
  }

  .centered-image {
    text-align: center;
    margin-top: 20px;
  }
  
  .centered-image img {
    max-width: 100%;
    height: auto;
  }
  
  
  section {
    padding: 2em;
  }

  section h2{
    font-family: White_on_black;
  }
  


  footer h4 {
    text-align: center;
    /* background-color: black; */
    height: auto;
    font-size: 1rem;
    margin: 0%;
    
  }


  footer img {
    text-align: left;
    height: 50%;
    width: 50%;
  }

  footer {
    background-color: #2b2b2b;
    color: #fff;
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-width: 10%;
    border-color: black;
    columns: 2 50%;
    font-family:White_on_black;
  }


  .subscribe , .subscribeInput
  {
    box-sizing: border-box;
  }

  .footerDiv{
    display: inline-block;
    background-color: inherit;
    box-sizing: border-box;
    width:100%;
  }
  
  .left-section{
    background-color: inherit;
    float: left;
    justify-content: center; /* Align items horizontally at the center */
    align-items: center; /* Align items vertically at the center */
    max-width: 50%;
    height: auto;
    display: flex;
  }
  .left-section img {
    padding-top: 0%;
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    
  }
  
  .right-section {
    justify-content: center; /* Align items horizontally at the center */
    align-items: center; /* Align items vertically at the center */
    font-size: .75rem;
    float: right;
    background-color: inherit;
    width: 50%;
    max-width: 50%;
    height: auto;
    
    vertical-align: middle;
   
  }

  .follow-us, .subscribe
  {
    align-items: center;
    justify-content:center;
    max-width: 100%;
    width: 100%;
    grid-row: inherit;
    padding-left: 15%;
    height: auto;
   
  }

  .subscribe{
    float:left;
    padding-top: 10%;
  }

  .follow{
    text-align: left;
  }
  
  .follow-us a {
    display: inline-block;
    text-align: left;
    width: 20%;
    height: auto;
    margin-bottom: 0%;
    columns: 4 20%;

  
  }
  

  
  .subscribe label,
  .subscribe input,
  .subscribe button {
    display: block;
    margin-bottom: 10px;
    
  }
  
  
  form {
    margin-top: 20px;
  }


  .contactForm input, .contactForm textarea
  {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contactForm h2{
    font-family: White_on_black;
  }
  
  form label,
  form input,
  form textarea,
  form button {
    display: block;
    margin-bottom: 10px;
    
  }
  

  .about {
    display: inline-block;
   }
 
   .about div{
     display: inline-block;
     text-align: center;
     padding: 30px;
   }
 
   .about div img{
     text-align: center;
     padding: 30px;
   }


 

  .formDiv {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .formDiv form{
    display: inline-block;
   
  }

  .cart-icon {
    cursor: pointer;
    font-size: 20px;
    float: right;
    color: black;
  }

  .button-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: right;
    justify-content: right;
  }

  .button-label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center; /* Center align the text */
  }

  .button-label:hover {
    background-color: #ccc;
  }

  .button-label.active {
    background-color: #e84946;
    
    
  }

  .button-label.sold_out
  {
    background-color: #2b2b2b;
  }

  /* Hide the default radio button appearance */
  .button-label input[type="radio"] {
    display: none;
  }

  
/* Style for inline radio buttons */
.Payment_details {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing as needed */
  }

.payment-selection
{
  display: flex;
}

.Payment_details{
  width: 50%;
  height: auto;
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.Payment_details input{
  width: 100%;
  height: auto;
  display:inline;
}
.shipping_details{
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inline-fields label {
   /* Adjust width as needed */
   width: 48%;
   justify-content: center;
   text-align: center;
}

.formDiv2
{
  width: 30%;
  max-height:877.719px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 100px;
  float: right;
  border: 20px black;
  background-color: #e84946; 
  
 
}

.formDiv2 h2
{
  color: black;
  margin-top: 63px;
}

.cartContent
{
  overflow-y: hidden;
  height: 100%;
  width: auto;

}

.cartTab 
{
  width: 400px;
  background-color: #2b2b2b;
  color: #ccc;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  overflow: hidden;

}

.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}


.cartTab .btn
{
  display: grid;
  grid-template-columns: repeat(2,1fr);

}

.cartTab .btn button
{
  background-color: white;
  border: none;
  font-family: poppins;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .btn .close
{
  background-color: #e84946;
}

.cartTab .itemDiv:nth-child(even)
{
  background-color: rgb(77, 73, 73);
}